<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Cadastro do Hotel</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">  
</head>
<body>
  <!-- Incluindo a navbar -->
  <%- include('partials/navbar') %>

  <div class="container">
    <h1>Bem-vindo ao Sistema de Cadastro do Hotel</h1>
    <p>Obrigado por utilizar nosso sistema para gerenciar os funcionários do hotel.</p>
    <p>Aqui você pode cadastrar, visualizar, atualizar e excluir os dados dos funcionários de forma simples e eficiente.</p>
    <p>Utilize o menu acima para navegar nas diferentes funcionalidades.</p>
  </div>
</body>
</html>
