<nav>
  <ul>
    <ul><a href="/">Home</a></ul>
    <ul><a href="/employees/cadastro">Cadastrar Funcionários</a></ul>
    <ul><a href="/employees">Listar Funcionários</a></ul>
    <ul><a href="#">Mais uma página</a></ul>
  </ul>
</nav>